%h1= @document.title
%p= @document.content

= link_to "All Docs", documents_path
= link_to "Edit Doc", edit_document_path(@document)
= link_to "Trash It", document_path(@document), method: :delete, data: { confirm: "Are you sure?" }
